<h2 mat-dialog-title style="text-align: center; width: 100%">
  {{ data.title }}
</h2>

<mat-dialog-content style="text-align: center; width: 100%">
  <p>{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions style="justify-content: center">
  <button
    mat-flat-button
    color="primary"
    (click)="onOption1()"
    [disabled]="option1Disabled">
    {{ option1Text }}
  </button>
  <button
    mat-flat-button
    color="secondary"
    (click)="onOption2()"
    [disabled]="option2Disabled">
    {{ option2Text }}
  </button>
  <button
    mat-flat-button
    color="tertiary"
    (click)="onOption3()"
    [disabled]="option3Disabled">
    {{ option3Text }}
  </button>
</mat-dialog-actions>
