<mat-form-field
  appearance="outline"
  style="width: 100%"
  [class.mat-form-field-invalid]="externalErrorOutline"
  [class.mat-mdc-form-field-invalid]="externalErrorOutline"
  [class.csw-autocomplete--external-error]="externalErrorOutline">
  <input
    type="search"
    matInput
    [formControl]="inputCtrl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder ?? ''"
    [attr.maxLength]="maxLength || null"
    inputmode="text"
    autocomplete="off"
    (blur)="onBlur($event)" />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayValue"
    (optionSelected)="onOptionSelected($event.option.value)">
    <mat-option *ngIf="loading" disabled>
      <span>Cargando...</span>
    </mat-option>
    <ng-container *ngIf="filtered$ | async as options">
      <mat-option *ngFor="let option of options" [value]="option">
        {{ displayValue(option) }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>
